<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppDb"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=prajeknibai;Integrated Security=true;TrustServerCertificate=True;Connect Timeout=5;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
